.m-footer {
  height: 70px;
  padding: 12px 0;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: -70px;
}
.m-footer .navbar-text,
.m-footer a {
  color: #b8b8b8 !important;
}
.m-footer a:hover {
  color: #282828 !important;
}
.m-footer .concat {
  padding: 0;
  margin: 0;
  float: right;
  margin-left: 50px;
  margin-top: 10px;
}
.m-footer .concat li {
  float: left;
  list-style: none;
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 30px;
  background: url(../img/sprite-icon.png) no-repeat;
  cursor: pointer;
}
.m-footer .concat li .pic {
  display: none;
  position: absolute;
  bottom: 52px;
  left: 0;
  width: 150px;
  height: 170px;
  margin-left: -60px;
  background-color: #398dee;
}
.m-footer .concat li .pic .caret {
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin-left: -12px;
  border-top: 12px dashed;
  border-top: 12px solid \9;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top-color: #398dee;
}
.m-footer .concat li:hover .pic {
  display: block;
}
.m-footer .concat a {
  display: block;
  width: 30px;
  height: 30px;
}
.m-footer .concat .weibo {
  background-position: 0 0;
}
.m-footer .concat .weibo:hover {
  background-position: -40px 0;
}
.m-footer .concat .weixin {
  background-position: 0 -40px;
}
.m-footer .concat .weixin:hover {
  background-position: -40px -40px;
}
.m-footer .concat .qq {
  background-position: 0 -80px;
}
.m-footer .concat .qq:hover {
  background-position: -40px -80px;
}
.m-footer .link span {
  padding: 0 8px;
}
.m-footer .info span,
.m-footer .info a {
  padding-right: 10px;
}
.m-footer2 {
  margin-top: 0;
}
