//.m-footer{
//  height: 70px;
//  padding: 12px 0;
//  font-size: 12px;
//  margin-bottom: 0;
//  margin-top: -70px;
//
//  .navbar-text, a{
//    color: #b8b8b8 !important;
//  }
//
//  a:hover{
//    color: #282828 !important;
//  }
//
//  .concat{
//    padding: 0;
//    margin: 0;
//    float: right;
//    margin-left: 50px;
//    margin-top: 10px;
//
//    li {
//      float: left;
//      list-style: none;
//      position: relative;
//      width: 30px;
//      height: 30px;
//      margin-left: 30px;
//      background: url(../img/sprite-icon.png) no-repeat;
//      cursor: pointer;
//      .pic {
//        display: none;
//        position: absolute;
//        bottom: 52px;
//        left: 0;
//        width: 150px;
//        height: 170px;
//        margin-left: -60px;
//        background-color: #398dee;
//        .caret {
//          position: absolute;
//          bottom: -6px;
//          left: 50%;
//          margin-left: -12px;
//          border-top: 12px dashed;
//          border-top: 12px solid \9;
//          border-right: 12px solid transparent;
//          border-left: 12px solid transparent;
//          border-top-color: #398dee;
//        }
//      }
//      &:hover .pic{
//        display: block;
//      }
//    }
//
//    a{
//      display: block;
//      width: 30px;
//      height: 30px;
//    }
//
//    .weibo {
//      background-position: 0 0;
//      &:hover {
//        background-position: -40px 0;
//      }
//    }
//    .weixin {
//      background-position: 0 -40px;
//      &:hover {
//        background-position: -40px -40px;
//      }
//    }
//    .qq {
//      background-position: 0 -80px;
//      &:hover {
//        background-position: -40px -80px;
//      }
//    }
//
//  }
//
//  .link{
//    span{
//      padding: 0 8px;
//    }
//  }
//
//  .info{
//    span, a{
//      padding-right: 10px;
//    }
//  }
//}
//.m-footer2{
//  margin-top: 0;
//}
//
//
//

// 底部
.m-footer{
  height: 70px;
  line-height: 70px;
  margin-bottom: 0;
  border: none;
  font-size: 12px;
  background-color: #e1e5e9;
  color: #969ca2;
  p{
    margin-bottom: 0;
  }
  a{
    color: #8092a4;
  }
  .info{
    float: left;
    span{
      margin-right: 15px;
    }
  }

  .link{
    float: right;
    color: #9ca9b7;
    a{
      display: inline-block;
      padding: 0 5px;
    }
  }
  .fa{
    font-size: 16px;
    color: #8c9aa8;
  }
  .fa:hover{
    color: #000;
    text-decoration: none;
  }
  .fa-weixin{
    margin-left: 118px;
  }
  &.fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

.m-footer-zwf{
  height: 70px;
}