.has-feedback2 .form-control {
  padding-right: 12px;
  padding-left: 42.5px;
}
.has-feedback2 .form-control-feedback {
  left: 0;
  right: auto;
  color: #aeaeae;
}
.has-error .input-group-btn button {
  border: 1px solid #a94442;
}
.m-form-login .logo {
  text-align: center;
  margin-bottom: 30px;
}
.m-formBox {
  width: 300px;
}
.m-formBox2 .form-control,
.m-formBox2 .input-group {
  width: 300px;
}
.m-formBox2 .input-group .form-control {
  width: 200px;
}
.m-formBox2 .btn-w {
  width: 300px;
}
.m-formStep {
  margin: 0;
  padding: 0;
}
.m-formStep li {
  float: left;
  width: 25%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  list-style: none;
  color: #757575;
  background-color: #edf4f7;
}
.m-formStep li.active {
  background-color: #398dee;
  color: #fff;
}
