.g-container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.g-main {
  width: 715px;
}
.g-side {
  width: 320px;
}
.u-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/icon-sprite.png) no-repeat;
  vertical-align: bottom;
}
.u-icon-time {
  background-position: 0 0;
}
.u-icon-bridge {
  background-position: 0 -40px;
}
.u-icon-addr {
  background-position: 0 -80px;
}
.u-icon-addr2 {
  background-position: -40px -80px;
}
.u-icon-v {
  background-position: 0 -120px;
}
.u-icon-v2 {
  background-position: -40px -120px;
}
.u-icon-star {
  background-position: 0 -160px;
}
.u-icon-star-sm {
  width: 14px;
  height: 14px;
  background-position: -3px -411px;
}
.u-icon-star2 {
  background-position: -40px -160px;
}
.u-icon-star2-sm {
  width: 14px;
  height: 14px;
  background-position: -43px -411px;
}
.u-icon-halfStar {
  background-position: 0 -200px;
}
.u-icon-halfStar-sm {
  width: 14px;
  height: 14px;
  background-position: -3px -445px;
}
.u-icon-halfStar2 {
  background-position: -40px -200px;
}
.u-icon-halfStar2-sm {
  width: 14px;
  height: 14px;
  background-position: -43px -445px;
}
.u-icon-message {
  width: 27px;
  height: 27px;
  background-position: 0 -240px;
}
.u-icon-settings {
  width: 28px;
  height: 28px;
  background-position: 0 -287px;
}
.u-icon-search {
  width: 21px;
  height: 21px;
  background-position: 0 -335px;
}
.u-icon-tel {
  width: 21px;
  height: 21px;
  background-position: 0 -371px;
}
.u-icon-hand {
  width: 14px;
  height: 12px;
  background-position: -3px -479px;
}
.u-icon-person {
  width: 14px;
  height: 12px;
  background-position: -3px -511px;
}
.u-icon-arrow {
  width: 14px;
  height: 12px;
  background-position: -3px -543px;
}
.u-icon-arrow2 {
  width: 14px;
  height: 12px;
  background-position: -45px -543px;
}
.u-icon-ok {
  width: 12px;
  height: 12px;
  background-position: -3px -575px;
}
.u-icon-err {
  width: 12px;
  height: 12px;
  background-position: -45px -575px;
}
.m-title {
  padding-bottom: 15px;
  border-bottom: 1px solid #f1f3f6;
}
.m-title h2 {
  padding-left: 20px;
  line-height: 24px;
  border-left: 4px solid #398dee;
  font-size: 18px;
  color: #333;
}
.m-list {
  margin-top: 30px;
}
.m-list .media-left {
  padding-right: 30px;
}
.m-list .media-body p {
  line-height: 20px;
  color: #757575;
}
.m-list .media-body p:last-child {
  margin-bottom: 0;
}
.m-list .media-heading {
  font-size: 16px;
  margin-bottom: 20px;
}
.m-list .media-heading a {
  color: #000;
  font-size: 16px;
  vertical-align: top;
}
.m-list .media-heading a:hover {
  color: #3086f2;
}
.m-list .meta span {
  margin-right: 50px;
}
.m-date .input-group-addon {
  width: 40px !important;
  background-color: #f5f9fd;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}
.btn {
  border-radius: 4px;
  padding: 9px 12px;
  -webkit-transition-duration: .5s;
  -webkit-transition-property: border-color, background-color, color;
}
.btn-primary {
  border-color: #3c8bee;
  background-color: #3c8bee;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited {
  background-color: #3479d0;
  border-color: #3479d0;
}
.btn-success {
  border-color: #3acc73;
  background-color: #3acc73;
  color: #fff;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success:visited {
  background-color: #32af64;
  border-color: #32af64;
}
.btn-danger {
  border-color: #ff0042;
  background-color: #ff0042;
  color: #fff;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:visited {
  background-color: #e7003c;
  border-color: #e7003c;
}
.btn-default {
  border-color: #e5e6eb;
  background-color: #ffffff;
  color: #333333;
}
.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default:visited {
  background-color: #ececec;
  border-color: #d9d9d9;
  color: #333;
}
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-w50 {
  min-width: 50px;
}
.btn-w75 {
  min-width: 75px;
}
.btn-w100 {
  min-width: 100px;
}
.btn-w150 {
  min-width: 150px;
}
.btn-w218 {
  min-width: 218px;
}
.btn-w375 {
  min-width: 375px;
}
.btn-h25 {
  padding: 3px;
  font-size: 12px;
}
.btn-h30 {
  padding: 6px;
  font-size: 12px;
}
.btn-h40 {
  padding: 9px;
  font-size: 14px;
}
.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.pagination > li > a,
.pagination > li > span {
  color: #3c8bee;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #3c8bee;
  background-color: #f5f9fd;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #3c8bee;
  border-color: #3c8bee;
}
label {
  font-weight: 500;
  color: #757575;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f9fd;
}
.f-form-box {
  padding: 30px 0;
  background-color: #fff;
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-horizontal .formlabel {
  float: left;
  width: 90px;
  text-align: left;
}
.form-horizontal .formipt {
  margin-left: 100px;
}
.popup {
  display: none;
  padding: 20px;
}
.popup-sx .form-group {
  margin-bottom: 20px;
}
.popup-sx .form-horizontal .formlabel {
  width: 55px;
}
.popup-sx .form-horizontal .formipt {
  margin-left: 65px;
}
.popup-user {
  position: relative;
  border: 1px solid #398dee;
  background-color: #fff;
  color: #333;
}
.popup-user .arrow {
  position: absolute;
}
.popup-user .userInfo {
  padding: 20px;
}
.popup-user .userInfo .media-left {
  padding-right: 30px;
}
.popup-user .userInfo .tag .label {
  margin-right: 5px;
  margin-bottom: 5px;
}
.popup-user .userScore {
  position: relative;
  padding: 10px;
  background-color: #f5f9fd;
}
.popup-user .userScore .sx {
  position: absolute;
  right: 20px;
  top: 25px;
}
.popup-user .userScore ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.popup-user .userScore ul li {
  position: relative;
  float: left;
  height: 68px;
  padding: 0 20px;
  text-align: center;
}
.popup-user .userScore ul li:after {
  content: '';
  position: absolute;
  top: 20%;
  right: -1px;
  height: 60%;
  border-right: 1px solid #e0e0e0;
}
.popup-user .userScore ul li .num {
  margin-bottom: 3px;
  color: #3c8bee;
  font-size: 18px;
}
.popup-user .userScore ul li span {
  color: #999;
  font-size: 12px;
}
.popup-upload,
.m-uploadFile {
  /*图片格式*/
  /*word格式*/
  /*EXCEL格式*/
  /*PPT格式*/
  /*CAD? 格式*/
  /*PDF格式*/
  /*文件格式*/
}
.popup-upload object:hover + .upload_button,
.m-uploadFile object:hover + .upload_button {
  background: #ececec;
}
.popup-upload .btn-control,
.m-uploadFile .btn-control {
  margin-bottom: 10px;
}
.popup-upload .fileName,
.m-uploadFile .fileName {
  width: auto;
}
.popup-upload .uploadify,
.m-uploadFile .uploadify {
  margin-left: auto;
  margin-right: auto;
}
.popup-upload .uploadify-progress,
.m-uploadFile .uploadify-progress {
  width: auto;
}
.popup-upload .uploadify-queue-item .upload_close_bg,
.m-uploadFile .uploadify-queue-item .upload_close_bg {
  top: 2px;
  right: 2px;
}
.popup-upload .uploadify-progress .upload_data,
.m-uploadFile .uploadify-progress .upload_data {
  width: 64px;
  overflow: hidden;
}
.popup-upload .uploadify-queue-item,
.m-uploadFile .uploadify-queue-item {
  width: 64px;
  height: 95px;
  padding: 15px;
}
.popup-upload .png_bg,
.m-uploadFile .png_bg,
.popup-upload .jpg_bg,
.m-uploadFile .jpg_bg,
.popup-upload .jpeg_bg,
.m-uploadFile .jpeg_bg,
.popup-upload .gif_bg,
.m-uploadFile .gif_bg,
.popup-upload .bmp_bg,
.m-uploadFile .bmp_bg {
  width: 64px;
  height: 64px;
  background: url(../plugins/uploadify/images/upload2.png) no-repeat;
}
.popup-upload .upload_other_bg,
.m-uploadFile .upload_other_bg {
  background-position: -320px 0;
}
.popup-upload .png_bg,
.m-uploadFile .png_bg,
.popup-upload .jpg_bg,
.m-uploadFile .jpg_bg,
.popup-upload .jpeg_bg,
.m-uploadFile .jpeg_bg,
.popup-upload .gif_bg,
.m-uploadFile .gif_bg,
.popup-upload .bmp_bg,
.m-uploadFile .bmp_bg {
  background-position-x: -448px;
}
.popup-upload .doc_bg,
.m-uploadFile .doc_bg,
.popup-upload .docx_bg,
.m-uploadFile .docx_bg,
.popup-upload .docm_bg,
.m-uploadFile .docm_bg,
.popup-upload .dotx_bg,
.m-uploadFile .dotx_bg,
.popup-upload .dotm_bg,
.m-uploadFile .dotm_bg {
  background-position-x: 0;
}
.popup-upload .xls_bg,
.m-uploadFile .xls_bg,
.popup-upload .xlsx_bg,
.m-uploadFile .xlsx_bg,
.popup-upload .xlsm_bg,
.m-uploadFile .xlsm_bg,
.popup-upload .xltx_bg,
.m-uploadFile .xltx_bg,
.popup-upload .xltm_bg,
.m-uploadFile .xltm_bg,
.popup-upload .xlsb_bg,
.m-uploadFile .xlsb_bg,
.popup-upload .xlam_bg,
.m-uploadFile .xlam_bg {
  background-position-x: -64px;
}
.popup-upload .ppt_bg,
.m-uploadFile .ppt_bg,
.popup-upload .pptx_bg,
.m-uploadFile .pptx_bg,
.popup-upload .pptm_bg,
.m-uploadFile .pptm_bg,
.popup-upload .ppsx_bg,
.m-uploadFile .ppsx_bg,
.popup-upload .ppsx_bg,
.m-uploadFile .ppsx_bg,
.popup-upload .potx_bg,
.m-uploadFile .potx_bg,
.popup-upload .potm_bg,
.m-uploadFile .potm_bg,
.popup-upload .ppam_bg,
.m-uploadFile .ppam_bg {
  background-position-x: -128px;
}
.popup-upload .cad_bg,
.m-uploadFile .cad_bg,
.popup-upload .dwg_bg,
.m-uploadFile .dwg_bg {
  background-position-x: -192px;
}
.popup-upload .pdf_bg,
.m-uploadFile .pdf_bg {
  background-position-x: -256px;
}
.popup-upload .txt_bg,
.m-uploadFile .txt_bg,
.popup-upload .java_bg,
.m-uploadFile .java_bg,
.popup-upload .javac_bg,
.m-uploadFile .javac_bg,
.popup-upload .js_bg,
.m-uploadFile .js_bg,
.popup-upload .css_bg,
.m-uploadFile .css_bg,
.popup-upload .html_bg,
.m-uploadFile .html_bg,
.popup-upload .php_bg,
.m-uploadFile .php_bg,
.popup-upload .xml_bg,
.m-uploadFile .xml_bg {
  background-position-x: -384px;
  width: 96px;
  height: 96px;
}
.m-uploadFile .uploadify-queue-item {
  height: 87px;
}
.m-uploadFile .nofile {
  margin-bottom: 10px;
}
.m-pj .control {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #f1f3f6;
}
.m-pj .control .tit {
  color: #ff0042;
}
.m-pj .control a {
  margin-right: 10px;
}
.m-empty2 {
  padding: 50px 30px;
  border: 1px solid #3399ff;
  background-color: #f5f9fd;
  text-align: center;
}
