.f-txt {
  color: #999;
}
.f-txt2 {
  color: #292929;
}
.f-txt3 {
  color: #f16125;
}
.f-tac {
  text-align: center;
}
.f-dn {
  display: none;
}
.f-toe {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.f-fl {
  float: left;
}
.f-fr {
  float: right;
}
.f-mt5 {
  margin-top: 5px;
}
.f-mt10 {
  margin-top: 10px;
}
.f-mt20 {
  margin-top: 20px;
}
.f-p10 {
  padding: 10px;
}
.f-bg {
  background-color: #f9f9f9;
}
.f-fz12 {
  font-size: 12px;
}
.f-fz18 {
  font-size: 18px;
}
