.m-media {
  overflow: hidden;
}
.m-media .pic,
.m-media .text {
  display: table-cell;
  vertical-align: top;
}
.m-media .pic {
  padding-right: 10px;
}
.m-media .pic img {
  display: block;
}
.m-media .text {
  width: 100000px;
}
.m-media .text.m-media-middle {
  vertical-align: middle;
}
.m-form {
  padding: 88px 20px 0;
}
.m-form .logo {
  margin-bottom: 10px;
  text-align: center;
}
.m-formGroup {
  margin-bottom: 20px;
}
.m-header {
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  top: 0;
  min-height: 44px;
}
.m-header .main {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  background-color: #398dee;
  color: #fff;
}
.m-header .title {
  height: 44px;
  padding-left: 44px;
  padding-right: 44px;
  text-align: center;
}
.m-header h1 {
  height: 44px;
}
.m-header .back,
.m-header .nav {
  position: absolute;
  top: 0;
  width: 44px;
  height: 44px;
}
.m-header .back {
  left: 0;
  background: url(../img/icon-back.png) center no-repeat;
  background-size: auto 24px;
}
.m-header .nav {
  right: 0;
  background: url(../img/icon-nav.png) center no-repeat;
  background-size: 24px;
}
.m-header .nav.active {
  background-color: #2074d5;
}
.m-header .navList {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 44px;
  background-color: #2074d5;
}
.m-header .navList li {
  border-bottom: 1px solid #398dee;
}
.m-header .navList a {
  display: block;
  padding: 0 44px;
  line-height: 44px;
  color: #fff;
}
.m-headerPlace {
  height: 44px;
}
.m-banner img {
  display: block;
  max-width: 100%;
}
.m-taskInfo {
  margin-top: 20px;
  background-color: #fff;
  font-size: 14px;
}
.m-taskInfo .bd {
  padding: 10px;
}
.m-taskInfo .ft {
  border-top: 1px solid #f1f3f6;
}
.m-taskInfo .title h2 {
  width: 100%;
  font-weight: bold;
}
.m-taskInfo .title a {
  display: block;
  color: #999;
}
.m-taskInfo .meta {
  margin-top: 5px;
}
.m-taskInfo .meta li {
  line-height: 30px;
  color: #b8b8b8;
}
.m-tips {
  padding: 15px;
  background-color: #f9f9f9;
}
.m-load {
  padding: 40px  0;
  text-align: center;
}
.m-load .weui_btn {
  display: inline-block;
  width: auto;
  min-width: 120px;
  font-size: 14px;
}
.m-panel {
  padding: 10px;
  background-color: #fff;
}
.m-panel h2 {
  margin-bottom: 5px;
  color: #398dee;
  font-size: 18px;
}
.m-panel p {
  margin-bottom: 10px;
}
.m-tab {
  margin-top: 20px;
}
.m-tab .weui_tabbar {
  position: relative;
}
.m-tab .weui_tabbar a {
  display: block;
  padding-top: 0;
  line-height: 44px;
}
.m-tab .weui_tabbar .weui_tabbar_label {
  font-size: 14px;
}
.m-tab .weui_tabbar_item.weui_bar_item_on .weui_tabbar_label {
  background-color: #fff;
  color: #398dee;
}
.m-tab .weui_tab_bd {
  background-color: #fff;
  padding-bottom: 0;
}
.m-pinglun {
  padding: 10px;
  background-color: #fff;
}
.m-pinglun .panel {
  display: none;
}
.m-pinglun .tabs {
  margin-bottom: 10px;
  overflow: hidden;
}
.m-pinglun .tabs li {
  list-style: none;
  float: left;
  width: 50%;
  text-align: center;
}
.m-pinglun .tabs .active a {
  background-color: #4d96ef;
  color: #fff;
}
.m-pinglun .tabs a {
  display: block;
  line-height: 44px;
  background-color: #e8eaef;
  color: #333;
}
.m-pinglun .plItem {
  margin-bottom: 10px;
}
.m-pinglun .plItem h3 {
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 16px;
  color: #999;
}
.m-pinglun .plItem .score {
  margin-bottom: 5px;
  font-size: 12px;
  color: #ff4b00;
}
.m-pinglun .plItem .score span {
  margin-right: 4px;
}
.m-pinglun .plItem .text {
  margin-bottom: 5px;
}
.m-pinglun .plItem .date {
  font-size: 12px;
  color: #ccc;
}
.m-empty {
  padding: 40px 0;
  border: 1px solid #3399ff;
  background-color: #f5f9fd;
  text-align: center;
}
.m-empty img {
  vertical-align: middle;
}
