.m-header {
  padding: 14px 0;
  border-bottom: none;
}
.m-header .form-group {
  position: relative;
}
.m-header .form-group input {
  width: 100%;
  padding-left: 30px;
}
.m-header .form-group span {
  position: absolute;
  left: 10px;
  top: 10px;
}
.m-footer {
  padding: 11px 0;
  margin-bottom: 0;
  border: none;
  font-size: 12px;
  background-color: #eaeaea;
}
.m-footer .info span {
  margin-right: 15px;
}
.m-footer .link a {
  display: inline-block;
  padding: 0 5px;
}
.m-footer .fa {
  font-size: 16px;
  color: #272636;
}
.m-footer .fa:hover {
  color: #000;
}
.m-footer .fa-weixin {
  margin-left: 20px;
}
.m-banner {
  height: 500px;
}
.demo-box {
  margin-bottom: 100px;
}
.demo-hd {
  margin: 10px 0;
  font-size: 30px;
}
.demo-box2 {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #f0f0f0;
}
.demo-hd2 {
  margin: 0 0 20px;
  font-size: 24px;
  border-bottom: 1px solid #999;
}
