// 头部
.m-header{
  padding: 14px 0;
  border-bottom: none;
  //background-color: rgba(255,255,255,.3);
  .form-group{
    position: relative;
    input{
      width: 100%;
      padding-left: 30px;
    }
    span{
      position: absolute;
      left: 10px;
      top: 10px;
      //color: @color-gray;
    }
  }
}

// 底部
.m-footer{
  padding: 11px 0;
  margin-bottom: 0;
  border: none;
  font-size: 12px;
  background-color: #eaeaea;
  .info span{
    margin-right: 15px;
  }
  .link a{
    display: inline-block;
    padding: 0 5px;
  }
  .fa{
    font-size: 16px;
    color: #272636;
  }
  .fa:hover{
    color: #000;
  }
  .fa-weixin{
    margin-left: 20px;
  }
}

// banner
.m-banner{
  height: 500px;
}










// demo

.demo-box{
  margin-bottom: 100px;
}
.demo-hd{
  margin: 10px 0;
  font-size: 30px;
}
.demo-bd{}


.demo-box2{
  padding: 20px;
  margin-bottom: 40px;
  background-color: #f0f0f0;
}
.demo-hd2{
  margin: 0 0 20px;
  font-size: 24px;
  border-bottom: 1px solid #999;
}
















