@gray-darker:  lighten(#000, 13.5%); // #222
@gray-dark:    lighten(#000, 20%);   // #333
@gray:         lighten(#000, 33.5%); // #555
@gray-light:   lighten(#000, 46.7%); // #777
@gray-lighter: lighten(#000, 93.5%); // #eee

@brand-primary: #ff6800;
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;

// Scaffolding
@body-bg:    #fff;
@text-color: @gray-darker - 50;

// Variables
@link-color:       @brand-primary;
@link-hover-color: darken(@link-color, 15%);



// reset
a {
  color: @link-color;
  text-decoration: none;

  &:hover {
    color: @link-hover-color;
    text-decoration: underline;
  }
}

.btn-primary{
  border-color: #ff6800;
  background-color: #ff6800;
  color: #fff;

  &:hover,
  &:active,
  &:focus,
  &:visited{
    background-color: darken(#ff6800, 10%);
    border-color: darken(#ff6800, 5%);
  }
}

.wmz_line_title span{
  min-width: 108px;
}
.wmz_mb40{
  margin-bottom:20px;
}
.formPlace{
  word-break: break-all;
}

.p-rzindex{
  background: none;
  width:940px;
}
.p-rzindex .col1, .p-rzindex .col2{
  width:456px;
  height:213px;
  padding-top:0;
  border-top:none;
}
.p-rzindex .col2{
  float: right;
}

.m-title h2 {
  border-left: 4px solid #ff6800;
}
.form-horizontal .formlabel {
  width: 125px;
  text-align: right;
}
.form-horizontal .formipt {
  margin-left: 135px;
}

.p-box .p-box-bd .form-boxp {
  padding: 0 25px;
}
.wmz_line_title {
  color: #ff6800;
}

.upload_default_image{
  width:200px;
  height:156px;
}




.f-mt10{
  margin-top:10px;
}

.m-subTitle {
  h3 {
    color: @brand-primary;
  }
}


.g-wrap{
  padding-top:40px;
  padding-bottom:40px;
}





















.list-fj{
  overflow: hidden;
  margin-top:-20px;
  margin-left:-20px;
  li{
    list-style: none;
    float: left;
    width:50px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    p{
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}


.help-2{
  margin-bottom:0;
  color: #ff6800;
  font-size:14px;
}

.checkList{
  margin-top:10px;
  padding: 10px 0;
  .formError .formErrorContent{
    width: 200px;
  }
}



.m-ztxz{
  overflow: hidden;
  margin-bottom:0;
  li{
    float: left;
    height:22px;
    line-height:22px;
    padding-left:25px;
    margin-right:20px;
    list-style: none;
    background: url(../img/bg-check.png) no-repeat;
    background-position: 0 -41px;
    cursor: pointer;
    &.active{
      background-position: 0 0;
    }
  }
}

.box-bg{
  padding: 10px;
  background-color: #eee;
}




.form-photo{
  position: absolute;
  top: 105px;
  left: 210px;
  font-size:12px;
  img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-bottom:5px;
  }
  a{
    color: #65a6f2;
  }
}



// 头部
.empty-tz{
  line-height:187px;
  min-height:187px;
  text-align: center;
  color: @brand-primary;
}
.m-header{
  height:108px;
  h1{
    padding-top:16px;
    margin-right:47px;
  }
  .welcome{
    height:30px;
    line-height:30px;
    background-color: #eee;
    color: #333;
    font-size:14px;
  }

  .nav-main{
    float: left;
    margin: 0;
    padding: 0;

    li{
      float: left;
      list-style: none;
      &.active a, a:hover{
        color: #ff6800;
        border-bottom-color: #ff6800;
      }
    }
    a{
      color: #333;
    }
  }


  .nav2{

    .search{
      padding-right:0;
    }
    .login{
      padding-top:30px;
      padding-left:66px;
      a{
        color: #333;
      }
      span{
        margin:0 5px;
      }
    }

    .tx{

      margin-left: 2px;
      .subNav{
        border: 1px solid #f1f3f6;
        border-bottom: none;
        background-color: #fff;
        li{
          list-style: none;
          border-bottom: 1px solid #f1f3f6;
        }
        a{
          display: block;
          line-height: 40px;
          color: #333333;
          font-size: 16px;
          text-decoration: none;
          &:hover{
            background-color: @brand-primary;
            color: #fff;
          }
        }
      }

      &:hover{
        border-top-color: @brand-primary;
        background-color: #f2f8ff;
      }
      &:hover .subNav{
        display: block;
      }
    }

    .msg{
      position: relative;
      width: 70px;
      height: 77px;
      padding-top: 27px;
      border-top: 2px solid transparent;
      text-align: center;
      margin-left:23px;

      .dot{
        position: absolute;
        right: 24px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: @brand-primary;
      }
      .msgList{
        display: none;
        position: absolute;
        top: 75px;
        right: 0;
        width: 374px;
        //padding: 12px;
        border: 1px solid #d9d9d9;
        border-bottom: none;
        text-align: left;
        background-color: #fff;

        .inner{
          padding: 20px;
          border-bottom: 1px solid #d9d9d9;
        }

        .tabs{
          display: inline-block;
          overflow: hidden;
          height: 30px;
          line-height: 30px;
          border: 1px solid #ff6800;
          li{
            width: 110px;
            height: 30px;
            line-height: 30px;
            display: inline-block;
            margin-bottom: 0;
          }
          .active a{
            color: #fff;
            background-color: #ff6800;
          }
          a{
            color: #ff6800;
            background-color: #fff;
          }
        }

        ul{
          margin: 0;
          padding: 0;
          li{
            list-style: none;
            margin-bottom: 10px;
            &:last-child{
              margin-bottom: 0;
            }
            &:last-child .media-body{
              border-bottom: none;
            }
          }

          .media-body{
            border-bottom: 1px solid #f1f3f6;
            .media-heading{
              color: #ff6800;
            }
            p {
              width: 272px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: #757575;
              a{
                color: #757575;
              }
            }
          }
        }

        .more{
          padding: 0 20px;
          line-height: 46px;
          border-bottom: 1px solid #d9d9d9;
        }
      }

      &:hover{
        border-top-color: @brand-primary;
        background-color: #f2f8ff;
      }
      &:hover .msgList{
        display: block;
      }
    }

  }
}

// 底部
.m-footer2{
  border-top:2px solid #e4e4e4;
  background-color: #fff;
  .listInfo{
    padding-bottom:40px;
    margin-left:-50px;
  }
  dl{
    float: left;
    width:190px;
    margin-bottom:0;
    padding-left: 50px;
    padding-top:40px;
    background: url(../img/bg-ft-line.png) right top no-repeat;
  }
  dt{
    margin-bottom:20px;
    font-size:24px;
    font-weight:normal;
  }
  dd{
    a{
      line-height:24px;
      color: #333;
      &:hover{
        color: @link-hover-color;
      }
    }
  }
  p{
    margin-bottom:0;
    padding-bottom:40px;
    text-align: center;
  }

  .yx{
    padding-left:0;
    padding-right:0;
    text-align: center;
  }
  .lx{
    float: right;
    width: 360px;
    padding-left:50px;
    padding-right:0;
    color: #333;
    background: none;
    dd{
      line-height:30px;
      img{
        margin-right:10px;
      }
      &.tel{
        span {
          font-size: 30px;
          color: #ff6800;
        }
        img{
          vertical-align: baseline;
        }
      }
    }
  }
}

// banner
.m-banner3{
  height:420px;
  background: url(../img/bg-banner.jpg) center no-repeat;
  color: #fff;

  .tit1{
    margin-bottom:30px;
    padding-top:90px;
    font-size:36px;
    font-weight:normal;
    text-align: center;
  }
  .tit2{
    margin-bottom:55px;
    color: @brand-primary;
    font-size:18px;
    text-align: center;
  }

  ul{
    padding:0;
    margin: 0;
    list-style: none;
    text-align: center;
    li{
      display: inline-block;
      p{
        margin-bottom:20px;
      }
    }
  }
  .mr{
    margin-right:75px;
  }
  .ibtn{
    display: inline-block;
    width:150px;
    height:40px;
    line-height:40px;
    border-radius: 3px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    font-size:18px;
    text-align: center;
    text-decoration: none;
    &:hover{
      background-color: #000;
    }
  }
}



// 在招项目
.m-title10{
  margin-bottom: 20px;
  h2{
    display: inline-block;
    border-left: 6px solid @brand-primary;
    padding-left:10px;
    font-size:24px;
    color: #333;
    font-weight:normal;
  }
}
.u-tag{
  display: inline-block;
  padding: 2px 12px;
  border-radius: 12px;
  border:1px solid #666;
  text-align: center;
  font-size:12px;
}
.m-zzxm{
  margin-bottom:40px;
  ul{
    overflow: hidden;
    padding:0;
    margin:0;
    margin-left:-40px;
    margin-top:-40px;
    list-style: none;
  }
  li{
    float: left;
    width:340px;
    margin-left:40px;
    margin-top:40px;
  }
  .pic{
    position: relative;
    height:150px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    a{
      display: block;
      width:100%;
      height:100%;
    }
    img{
      position: absolute;
      left: 50%;
      top:50%;
    }
    span{
      position: absolute;
      top:10px;
      left:10px;
      background-color: #404141;
      color: #fff;
      font-size:12px;
    }
  }
  .bd{
    padding:15px;
    background-color: #f9f9f9;
    h3{
      margin:0;
      margin-bottom:15px;
      font-size:16px;
      color: #000;
      a{
        color: #000;
      }
    }
    p{
      color: #666;
      font-size:14px;
      margin-bottom:10px;
      &:last-child{
        margin-bottom:0;
      }
    }
  }
  .tag{
    display: inline-block;
    padding: 2px 12px;
    border-radius: 12px;
    border:1px solid #666;
    text-align: center;
    font-size:12px;
  }
  .price{
    color: #ff6800;
    font-size:18px;
  }
  .c1{
    color: #ff6800;
  }
}


// 专业工作室
.m-indexList{
  ul{
    overflow: hidden;
    padding:0;
    margin:0;
    margin-left:-40px;
    margin-top:-40px;
    list-style: none;
  }
  li{
    float: left;
    width:340px;
    margin-left:40px;
    margin-top:40px;
  }
}
.m-indexList-1{
  ul{
    margin-left:-30px;
    margin-top:-30px;
  }
  li{
    width:534px;
    height:200px;
    margin-left:30px;
    margin-top:30px;
    padding:12px;
    background-color: #fff;
    .ft{
      margin-top:15px;
      line-height:24px;
      color: #666;
    }
  }
}
.m-zygzs{
  margin-bottom:40px;
  .pic{
    position: relative;
    float: left;
    width:106px;
    height:106px;
    margin-right:15px;
    img{
      display: block;
    }
    .tj{
      position: absolute;
      width:44px;
      height:44px;
      padding:4px 0 0 4px;
      background: url(../img/bg-hot.png) no-repeat;
      color: #fff;
    }
  }
  .text{
    overflow: hidden;
    h3{
      margin:0;
      font-size:16px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      a{
        color: #333;
      }
    }
    p{
      margin-bottom:5px;
      color: #666;
      &:last-child{
        margin-bottom:0;
      }
    }
  }
  .star{
    span{
      vertical-align: baseline;
    }
  }
  p.type{
    padding: 15px 0 10px;
    margin:0;
    font-size:12px;
  }
  .count{
    color: @brand-primary;
    font-weight:bold;
    font-size:16px;
  }

  .filter{
    padding:22px 40px;
    margin-bottom:30px;
    background-color: #fff;
    select{
      min-width:150px;
    }
  }
}



// 用户中心
.p-userCenter{
  margin-top:0;
}
.p-userCenter .userInfo .media-body ul li{
  width:auto;
  &:first-child{
    margin-left:-40px;
  }
}
.p-userCenter .userInfo .media-body ul li .num{
  padding:0 40px;
  color: @brand-primary;
}
.p-userCenter .userInfo .media-heading .btn-rz{
  border-color: @brand-primary;
  color: @brand-primary;
}





.m-tabs .nav-tabs a {
  font-size: 16px;
  color: #b8b8b8;
  border: none;
}
.m-tabs .nav-tabs a:hover {
  text-decoration: none;
  background-color: transparent;
  border: none;
}
.m-tabs .nav-tabs > li.active > a,
.m-tabs .nav-tabs > li.active > a:focus,
.m-tabs .nav-tabs > li.active > a:hover {
  background: none;
  border: 2px solid @brand-primary;
  border-width: 0 0 2px;
  color: @brand-primary;
}
.m-tabs .tab-content {
  padding: 20px 0;
}




.p-userSetting .u-nav .active a{
  color: @brand-primary;
  border-bottom-color: @brand-primary;
}







.m-list {
  margin-top: 30px;

  .media-left {
    padding-right: 30px;
  }
  .media-body {
    p {
      line-height: 20px;
      color: #757575;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  .media-heading {
    font-size: 16px;
    margin-bottom: 20px;
    a {
      color: #000;
      font-size: 16px;
      vertical-align: top;
      &:hover {
        color: @brand-primary;
      }
    }
  }
  .meta span {
    margin-right: 50px;
  }
}










.m-empty-1{
  line-height:140px;
  border:1px solid @brand-primary;
  text-align: center;
  background-color: #fdfaf5;
}








