.btn-primary {
  border-color: #ff6800;
  background-color: #ff6800;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited {
  background-color: #cc5300;
  border-color: #e65e00;
}
.wmz_line_title span {
  min-width: 108px;
}
.wmz_mb40 {
  margin-bottom: 20px;
}
.formPlace {
  word-break: break-all;
}
.p-rzindex {
  background: none;
  width: 940px;
}
.p-rzindex .col1,
.p-rzindex .col2 {
  width: 456px;
  height: 213px;
  padding-top: 0;
  border-top: none;
}
.p-rzindex .col2 {
  float: right;
}
.m-title h2 {
  border-left: 4px solid #ff6800;
}
.form-horizontal .formlabel {
  width: 125px;
  text-align: right;
}
.form-horizontal .formipt {
  margin-left: 135px;
}
.p-box .p-box-bd .form-boxp {
  padding: 0 25px;
}
.wmz_line_title {
  color: #ff6800;
}
.upload_default_image {
  width: 200px;
  height: 156px;
}
.list-fj {
  overflow: hidden;
  margin-top: -20px;
  margin-left: -20px;
}
.list-fj li {
  list-style: none;
  float: left;
  width: 50px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
}
.list-fj li p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.help-2 {
  margin-bottom: 0;
  color: #ff6800;
  font-size: 14px;
}
.checkList {
  margin-top: 10px;
  padding: 10px 0;
}
.checkList .formError .formErrorContent {
  width: 200px;
}
.m-ztxz {
  overflow: hidden;
  margin-bottom: 0;
}
.m-ztxz li {
  float: left;
  height: 22px;
  line-height: 22px;
  padding-left: 25px;
  margin-right: 20px;
  list-style: none;
  background: url(../img/bg-check.png) no-repeat;
  background-position: 0 -41px;
  cursor: pointer;
}
.m-ztxz li.active {
  background-position: 0 0;
}
.box-bg {
  padding: 10px;
  background-color: #eee;
}
.form-photo {
  position: absolute;
  top: 105px;
  left: 210px;
  font-size: 12px;
}
.form-photo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
.form-photo a {
  color: #65a6f2;
}
