.p-wrap {
  width: 100%;
  min-height: 100%;
  height: auto;
  display: -webkit-box;
  display: box;
  display: -moz-box;
  display: -o-box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
}
.iptw {
  width: 370px;
}
.p-formBox {
  position: relative;
  width: 1100px;
  height: 720px;
  margin-bottom: 70px;
  background-color: #fff;
}
.p-formBox2 {
  position: relative;
  width: 1100px;
  height: 720px;
  margin-bottom: 70px;
  background-color: #fff;
}
.p-formBox2 .p-formBox2-hd {
  height: 98px;
  padding: 30px 30px 0;
  border-bottom: 1px solid #e8e8e8;
}
.p-formBox2 .p-formBox2-hd .ss {
  margin-top: 18px;
}
.p-formBox2 .p-formBox2-hd .img {
  float: left;
  width: 90px;
  height: 38px;
  margin-right: 10px;
}
.p-formBox2 .p-formBox2-hd .text {
  float: left;
  margin-top: 18px;
  color: #282828;
}
.p-formBox2 .p-formBox2-hd .text span {
  color: #e8e8e8;
}
.p-formBox2 .p-formBox2-bd {
  padding: 30px 0;
}
.p-formBox2 .form-group {
  margin-bottom: 15px;
}
.p-loginForm {
  width: 250px;
  margin: 214px auto 0;
}
.p-loginForm .logo {
  margin-bottom: 30px;
  text-align: center;
}
.p-loginForm .form-group {
  margin-bottom: 15px;
}
.p-personRegister {
  height: 560px;
}
.p-personRegister .col1 {
  width: 698px;
  float: left;
}
.p-personRegister .col1 .form {
  width: 250px;
  margin: 0 auto;
  padding-top: 60px;
}
.p-personRegister .col1 .form-group {
  margin-bottom: 15px;
}
.p-personRegister .col2 {
  width: 400px;
  height: 560px;
  padding: 0 20px;
  float: left;
  border-left: 1px solid #f1f3f6;
}
.p-personRegister .col2 .form {
  padding-top: 180px;
}
.p-formTips {
  width: 300px;
  margin: 140px auto 0;
}
.p-formTips .media-left {
  font-size: 40px;
  color: #81cb2d;
}
.p-getPassForm {
  width: 250px;
  margin: 140px auto 0;
}
.p-changePassForm {
  width: 250px;
  margin: 110px auto 0;
}
.tipsBox {
  width: 600px;
  margin: 100px auto 0;
  color: #757575;
}
.tipsBox .email {
  padding-right: 20px;
}
.tipsBox .email span {
  font-size: 40px;
  color: #65a6f2;
}
.p-qiyeFormBox {
  padding: 40px;
  color: #757575;
}
.p-qiyeFormBox .title {
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}
.p-qiyeFormBox .title h2 {
  font-size: 14px;
}
.p-qiyeFormBox .p-qiyeFormBox-bd {
  padding: 30px 0;
}
.p-qiyeFormBox .form-group {
  margin-bottom: 30px;
}
.p-qiyeFormBox .p-errContainer {
  display: none;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #ececec;
  color: #ff0000;
}
.p-qiyeFormBox .p-errContainer ul {
  margin: 0;
  padding: 0;
}
.p-qiyeFormBox .p-errContainer li {
  float: left;
  width: 50%;
  line-height: 30px;
  list-style: none;
}
.p-qiyeFormBox .p-errContainer li span {
  color: #ff0000;
}
.p-qiyeFormBox .p-tips {
  background-color: #daebff;
  color: #282828;
  padding: 10px;
  margin-bottom: 30px;
}
.p-box {
  width: 1100px;
  margin: 0 auto;
  border: 1px solid #dce0e2;
}
.p-box .p-box-hd {
  padding: 30px;
  border-bottom: 1px solid #e8e8e8;
}
.p-box .p-box-hd h2 {
  float: left;
}
.p-box .p-box-hd span {
  float: right;
}
.p-box .p-box-bd .tips {
  padding: 30px;
  margin-bottom: 30px;
  background-color: #f4f5f9;
}
.p-box .p-box-bd .tips .media-left {
  padding-right: 20px;
}
.p-box .p-box-bd .tips .glyphicon {
  font-size: 30px;
}
.p-box .p-box-bd .form-box {
  padding: 20px 0;
}
.p-userSetting .u-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.p-userSetting .u-nav .active a {
  background-color: #fff;
  color: #398dee;
}
.p-userSetting .u-nav li {
  width: 25%;
  float: left;
  background-color: #edf4f7;
}
.p-userSetting .u-nav a {
  display: block;
  padding: 0;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #757575;
  text-decoration: none;
}
.p-userSetting .form-text {
  display: inline-block;
  position: relative;
  top: 4px;
  margin-left: 2em;
  color: #bec3c7;
}
.p-userSetting .line {
  margin-bottom: 30px;
  border-bottom: 1px solid #dce0e2;
}
.p-userSetting .j-tagBox span {
  margin-right: 10px;
}
.p-userSetting .j-liveBox li input,
.p-userSetting .j-teachBox li input {
  margin-right: 10px;
}
.j-prevImg {
  margin: 0 auto;
}
.jcrop-keymgr {
  visibility: hidden;
}
.jcrop-holder {
  margin: 0 auto;
}
.p-userCenter .userInfo {
  margin-bottom: 50px;
}
.p-userCenter .userInfo .info1 {
  padding: 30px;
  border-bottom: 1px solid #eee;
}
.p-userCenter .userInfo .info2 {
  padding: 30px;
  line-height: 24px;
  color: #000;
}
.p-userCenter .userInfo .info2 .tag {
  margin-bottom: 20px;
}
.p-userCenter .anliList .anliList-item {
  margin: 0;
  padding: 30px 0;
  border-bottom: 1px solid #eee;
}
.p-userCenter .anliList .anliList-item .media-left {
  padding-right: 30px;
}
.p-userCenter .anliList .anliList-item .media-body p {
  margin-bottom: 12px;
}
.p-userCenter .anliList .anliList-item .media-body .meta {
  color: #999999;
}
.p-userCenter .anliList .anliList-item .media-body .meta span {
  margin-right: 15px;
}
.p-userCenter .anliList .anliList-item .media-body .control {
  margin-bottom: 0;
}
.p-userCenter .anliList .anliList-item .media-body .control a {
  color: #999;
}
.p-userCenter .anliList .anliList-item .media-body .control a:hover {
  color: #3c8bee;
}
.p-userCenter .anliList .anliList-item .media-heading {
  height: 34px;
  margin-bottom: 0;
}
.p-userCenter .anliList .anliList-item .media-heading a {
  font-size: 16px;
  color: #000;
  vertical-align: top;
}
.p-userCenter .anliList .anliList-item .media-heading a:hover {
  color: #3c8bee;
}
