.m-modal{
  position: fixed;
  left: 50%;
  top: 50%;
  width: 690px;
  height: 400px;
  margin-left: -345px;
  margin-top: -200px;
  background-color: #fff;

  .inner{
    padding: 20px;
    text-align: center;
  }
  .close{
    position: absolute;
    right: 10px;
    top: 10px;

  }
}





.p-wrap {
  width: 100%;
  min-height: 100%;
  width: 100%;
  min-height: 100%;
  height: auto;
  display: -webkit-box;
  display: box;
  display: -moz-box;
  display: -o-box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
}

.iptw{
  width: 370px;
}

// 登录注册表单
.p-formBox {
  position: relative;
  width: 685px;
  height: 647px;
  margin-bottom: 70px;
  background-color: #fff;

  .form-title{
    padding: 20px 30px;
    .img{
      float: left;
    }
    .text{
      margin: 14px 0 0 20px;
      float: left;
      height: 24px;
      line-height: 24px;
      padding-left: 20px;
      border-left: 4px solid #398dee;
      font-size: 14px;
      color: #737f8a;
    }
  }
}
.p-formBox10{
  width: 1100px;
  height: 647px;
}
.p-formBox2{
  position: relative;
  width: 1100px;
  height: 720px;
  margin-bottom: 70px;
  background-color: #fff;

  .p-formBox2-hd{
    height: 98px;
    padding: 30px 30px 0;
    border-bottom: 1px solid #e8e8e8;

    .ss{
      margin-top: 18px;
    }

    .img{
      float: left;
      width: 90px;
      height: 38px;
      margin-right: 10px;
    }
    .text{
      float: left;
      margin-top: 18px;
      color: #282828;
      span{
        color: #e8e8e8;
      }
    }
  }

  .p-formBox2-bd{
    padding: 30px 0;
  }

  .form-group{
    margin-bottom: 15px;
  }
}

.p-loginForm {
  width: 370px;
  margin: 74px auto 0;

  .logo{
    margin-bottom: 30px;
    text-align: center;
  }

  .form-group{
    margin-bottom: 30px;
    label{
      font-weight: normal;
    }
  }
}
.p-personRegister{
  height: 560px;

  .tips{
    width: 380px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
  }
  .col1{
    width: 698px;
    float: left;
    
    .form{
      width: 370px;
      margin: 0 auto;
      padding-top: 60px;
    }
    .form-group{
      margin-bottom: 15px;
    }
  }
  .col2{
    float: left;
    width: 400px;
    height: 400px;
    padding: 0 20px;
    margin-top: 55px;
    border-left: 1px solid #f1f3f6;
    .form{
      padding-top: 105px;
    }
  }
}
.p-formTips{
  width: 300px;
  margin: 50px auto 0;
  text-align: center;

  .media-left{
    font-size: 40px;
    color: #81cb2d;
  }
}
.p-getPassForm{
  width: 370px;
  margin: 80px auto 0;
  .title2{
    position: relative;
    width: 295px;
    margin:0 auto 40px;
    text-align: center;
    color: #b8b8b8;
    &:after{
      content: '';
      position: absolute;
      z-index: 1;
      left: 0;
      top: 10px;
      width: 100%;
      border-bottom: 1px solid #b8b8b8;
    }
    span{
      position: relative;
      z-index: 2;
      display: inline-block;
      padding: 0 20px;
      background-color: #fff;
    }
  }
}
.p-changePassForm{
  width: 370px;
  margin: 110px auto 0;

  .form-group{
    label{
      font-weight: normal;
    }
  }
}



//.p-formBox3{
//  height: auto;
//  min-height: 700px;
//}
//.p-formBox4{
//  height: auto;
//  min-height: 600px;
//  margin: 85px auto 70px;
//}



//.p-personRegister{
//  .col1{
//    width: 50%;
//    float: left;
//
//    .form{
//      border-right: 1px solid #e8e8e8;
//    }
//  }
//  .col2{
//    width: 50%;
//    float: left;
//
//    .form{
//      padding: 50px 150px 0;
//    }
//  }
//
//  .title{
//    height: 50px;
//    line-height: 50px;
//    margin-bottom: 44px;
//    text-align: center;
//    font-size: 14px;
//    background-color: #edf4f7;
//    color: #757575;
//
//    &.active{
//      color: #fff;
//      background-color: #398dee;
//    }
//  }
//
//  .form{
//    height: 400px;
//  }
//}

//.j-tips{
//  display: block;
//  margin-top: 5px;
//  margin-bottom: 10px;
//  color: #737373;
//}


// 提示文字信息
.tipsBox{
  width: 600px;
  margin: 100px auto 0;
  color: #757575;

  .email{
    padding-right: 20px;
    span{
      font-size: 40px;
      color: #65a6f2;
    }
  }
}


// 企业认证表单
.p-qiyeFormBox{
  padding: 40px;
  color: #757575;

  .title{
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
    h2{
      font-size: 14px;
    }
  }

  .p-qiyeFormBox-bd{
    padding: 30px 0;
  }



  .form-group{
    margin-bottom: 30px;
  }

  .p-errContainer{
    display: none;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #ececec;
    color: #ff0000;

    ul{
      margin: 0;
      padding: 0;
    }
    li{
      float: left;
      width: 50%;
      line-height: 30px;
      list-style: none;
      span{
        color: #ff0000;
      }
    }
  }
  .p-tips{
    background-color: #daebff;
    color: #282828;
    padding: 10px;
    margin-bottom: 30px;
  }
}



// 个人认证
.p-box{
  width:1100px;
  margin: 0 auto;
  border:1px solid #dce0e2;

  .p-box-hd{
    //margin-bottom: 30px;
  }

  .p-box-bd{
    padding: 30px 0;
    .tips{
      padding: 30px;
      margin-bottom: 30px;
      background-color: #f4f5f9;

      .media-left{
        padding-right: 20px;
      }
      .glyphicon{
        font-size:30px;
      }
    }

    .form-boxp{
      padding:0 40px;
    }
    .form-box{
      //padding: 20px 0;
    }
    .form-box2{
      width: 410px;
      margin: 0 auto;
      padding: 70px 0;
      text-align: center;
    }

    .rzList{
      margin: 0;
      padding: 0 60px;
      li{
        height:50px;
        margin-bottom:35px;
        list-style: none;
      }
      .title{
        float: left;
        height:50px;
        line-height:50px;
        p{
          display: inline-block;
          line-height:normal;
          vertical-align: middle;
          strong{
            font-size:18px;
            font-weight:normal;
            color: #757575;
          }
          span{
            font-size:12px;
          }
        }
      }
      .text{
        float: right;
        line-height:50px;
      }

    }
  }
}



//  =========================个人设置
.p-userSetting{

  .m-title{
    margin: 25px 0 0 25px;
    border-bottom: none;
  }

  .u-nav{
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #f1f3f6;

    .active a{
      background-color: #fff;
      color: #398dee;
      border-bottom: 3px solid #398dee;
    }
    li{
      position: relative;
      width: 16.6%;
      float: left;
      text-align: center;
      
      &:after{
        content: '';
        position: absolute;
        right: 0;
        top: 18px;
        height: 26px;
        border-right: 1px solid #ecedef;
      }
    }
    .last:after{
      display: none;
    }
    a{
      display: inline-block;
      padding: 0 20px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      color: #757575;
      text-decoration: none;
    }
  }

  .form-text{
    display: inline-block;
    position: relative;
    top: 4px;
    margin-left: 2em;
    color: #bec3c7;
  }
  .line{
    margin-bottom: 30px;
    border-bottom: 1px solid #dce0e2;
  }
  .j-tagBox span{
    margin-right: 10px;
  }
  .j-liveBox li input, .j-teachBox li input{
    margin-right: 10px;
  }
}
.msg-list{
  .time{
    font-size:14px;
    font-weight:normal;
    color: #b8b8b8;
  }
}
.tlhb{
  .list{
    padding:0;
    margin: 0;
  }
  .item{
    float: left;
    width:127px;
    margin-bottom:40px;
    list-style: none;
  }
}
.hd2{
  font-size:18px;
  color: #757575;
}
//  =========================个人设置



// ========================== 个人认证
.p-renzheng, .p-renzheng2{
  .m-title{
    margin: 25px 25px 0 25px;
    border-bottom: none;
    span{
      font-size:14px;
      color: #757575;
    }
  }
}

.p-rzindex{
  width: 910px;
  padding-top: 147px;
  padding-bottom: 244px;
  margin: 0 auto;
  background: url(../img/rz.png) 346px 32px no-repeat;

  .c1, .c2{
    float: left;
    width: 455px;
    text-align: center;
    font-size: 16px;
    color: #757575;
  }
  .col1, .col2{
    float: left;
    width: 455px;
    height: 213px;
    padding-top: 28px;
    border: 1px solid #dde3e9;
    background-color: #fbfdff;
    text-align: center;

    h3{
      font-size: 22px;
      color: #737f8a;
    }
    p{
      font-size: 16px;
      color: #737f8a;
    }
    .cnt a{
      display: block;
      text-decoration: none;
      outline: none;

      &:hover{
        text-decoration: none;
      }
    }
  }
}

.rz-modal{

  .inner {
    width: 490px;
    margin: 0 auto;
    text-align: center;

    .title{
      padding: 15px 0 40px ;
    }
    ul{
      margin:0;
      padding:0;
      margin-bottom: 40px;
    }
    li{
      list-style: none;
      float: left;
      width: 50%;
    }
    .err{
      color: #fe4848;
    }
  }
}
.ssModal{
  .inner{
    padding-top: 100px;
    p{
      margin-bottom: 40px;
    }
    .link{
      font-size: 20px;
    }
  }
}

// ========================== 个人认证





// 图片预览
.j-prevImg{
  //max-width: 100%;
  margin: 0 auto;
}
.jcrop-keymgr{
  visibility: hidden;
}
.jcrop-holder{
  margin: 0 auto;
}







// 用户中心
.p-userCenter{
  margin-top: 78px;
  margin-bottom: 30px;
  color: #757575;

  .userInfo{
    margin-bottom: 30px;
    height: 280px;
    background-color: #f1f3f6;

    .inner{
      position: relative;
      top: 30px;
      padding: 30px;
      height: 220px;
      border: 1px solid #e5e7e9;
      background-color: #fff;
      color: #999;
    }

    .media-left{
      padding-right: 30px;
    }

    .media-body{
      .text{
        margin-bottom: 34px;
      }
    }

    .media-body ul li{
      float: left;
      text-align: center;

      .num{
        width: 138px;
        padding: 0 40px 0;
        border-right: 1px solid #e0e0e0;
        font-size: 24px;
        color: #3c8bee;
      }
    }
    
    .media-heading{
      font-size: 18px;
      color: #333;
      vertical-align: middle;
      margin-bottom: 20px;

      span{
        margin-left: 15px;
        font-weight: normal;
        font-size: 12px;
      }
    }

    .control{
      position: absolute;
      right: 30px;
      bottom: 30px;
      
      a{
        margin-left: 30px;
      }
    }
  }

  .introduce{
    height: 190px;
    //margin-bottom: 30px;

    .text{
      padding: 15px 0;
      margin-bottom: 0;
      height: 126px;
      line-height: 24px;
    }
  }

  .case{
    margin-bottom: 30px;
  }

  .appraise{
    .pf{
      padding: 10px 0;
      border-bottom: 1px solid #f1f3f6;

      li{
        float: left;
        width: 32%;
        border-right: 1px solid #f1f3f6;
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
          border-right: 0;
        }
      }

      p{
        vertical-align: middle;
      }

      .score{
        font-size: 24px;
        color: #ff4848;
        vertical-align: middle;
      }
      .score2{
        font-size: 14px;
      }

      .text{
        position: relative;
        top: 8px;
      }
    }

    .media{
      padding: 0 30px 30px;
      margin-top: 30px;
      border-bottom: 1px solid #f1f3f6;
    }

    .media-left{
      padding-right: 20px;
    }

    .media-heading{
      font-size: 14px;
      margin-bottom: 18px;
      color: #333333;
    }

    .media-body{
      p:last-child{
        margin-bottom: 0;
      }

      .text{
        color: #282828;
      }
    }
  }

  .addr{
    height: 190px;
  }

  .tag{
    span{
      display: inline-block;
      padding: 4px 8px;
      margin-right: 10px;
      margin-bottom: 10px;

      font-weight: normal;
    }
  }
}




















// laydate
.laydate_box{
  box-sizing: content-box;
}
.laydate_box *{
  box-sizing: content-box;
}
.laydate-icon,
.laydate-icon-default,
.laydate-icon-danlan,
.laydate-icon-dahong,
.laydate-icon-molv{
  height: auto !important;
}