.p-wrap {
  width: 100%;
  min-height: 100%;
  height: auto;
  display: -webkit-box;
  display: box;
  display: -moz-box;
  display: -o-box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
}
.iptw {
  width: 370px;
}
.p-formBox {
  position: relative;
  width: 1100px;
  height: 720px;
  margin-bottom: 70px;
  background-color: #fff;
}
.p-formBox2 {
  position: relative;
  width: 1100px;
  height: 720px;
  margin-bottom: 70px;
  background-color: #fff;
}
.p-formBox2 .p-formBox2-hd {
  height: 98px;
  padding: 30px 30px 0;
  border-bottom: 1px solid #e8e8e8;
}
.p-formBox2 .p-formBox2-hd .ss {
  margin-top: 18px;
}
.p-formBox2 .p-formBox2-hd .img {
  float: left;
  width: 90px;
  height: 38px;
  margin-right: 10px;
}
.p-formBox2 .p-formBox2-hd .text {
  float: left;
  margin-top: 18px;
  color: #282828;
}
.p-formBox2 .p-formBox2-hd .text span {
  color: #e8e8e8;
}
.p-formBox2 .p-formBox2-bd {
  padding: 30px 0;
}
.p-formBox2 .form-group {
  margin-bottom: 15px;
}
.p-loginForm {
  width: 250px;
  margin: 214px auto 0;
}
.p-loginForm .logo {
  margin-bottom: 30px;
  text-align: center;
}
.p-loginForm .form-group {
  margin-bottom: 15px;
}
.p-personRegister {
  height: 560px;
}
.p-personRegister .col1 {
  width: 698px;
  float: left;
}
.p-personRegister .col1 .form {
  width: 250px;
  margin: 0 auto;
  padding-top: 60px;
}
.p-personRegister .col1 .form-group {
  margin-bottom: 15px;
}
.p-personRegister .col2 {
  width: 400px;
  height: 560px;
  padding: 0 20px;
  float: left;
  border-left: 1px solid #f1f3f6;
}
.p-personRegister .col2 .form {
  padding-top: 180px;
}
.p-formTips {
  width: 300px;
  margin: 140px auto 0;
}
.p-formTips .media-left {
  font-size: 40px;
  color: #81cb2d;
}
.p-getPassForm {
  width: 250px;
  margin: 140px auto 0;
}
.p-changePassForm {
  width: 250px;
  margin: 110px auto 0;
}
.tipsBox {
  width: 600px;
  margin: 100px auto 0;
  color: #757575;
}
.tipsBox .email {
  padding-right: 20px;
}
.tipsBox .email span {
  font-size: 40px;
  color: #65a6f2;
}
.p-qiyeFormBox {
  padding: 40px;
  color: #757575;
}
.p-qiyeFormBox .title {
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}
.p-qiyeFormBox .title h2 {
  font-size: 14px;
}
.p-qiyeFormBox .p-qiyeFormBox-bd {
  padding: 30px 0;
}
.p-qiyeFormBox .form-group {
  margin-bottom: 30px;
}
.p-qiyeFormBox .p-errContainer {
  display: none;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #ececec;
  color: #ff0000;
}
.p-qiyeFormBox .p-errContainer ul {
  margin: 0;
  padding: 0;
}
.p-qiyeFormBox .p-errContainer li {
  float: left;
  width: 50%;
  line-height: 30px;
  list-style: none;
}
.p-qiyeFormBox .p-errContainer li span {
  color: #ff0000;
}
.p-qiyeFormBox .p-tips {
  background-color: #daebff;
  color: #282828;
  padding: 10px;
  margin-bottom: 30px;
}
.p-box {
  width: 1100px;
  margin: 0 auto;
  border: 1px solid #dce0e2;
}
.p-box .p-box-bd {
  padding: 30px 0;
}
.p-box .p-box-bd .tips {
  padding: 30px;
  margin-bottom: 30px;
  background-color: #f4f5f9;
}
.p-box .p-box-bd .tips .media-left {
  padding-right: 20px;
}
.p-box .p-box-bd .tips .glyphicon {
  font-size: 30px;
}
.p-box .p-box-bd .form-boxp {
  padding: 0 40px;
}
.p-box .p-box-bd .form-box2 {
  width: 410px;
  margin: 0 auto;
  padding: 70px 0;
  text-align: center;
}
.p-box .p-box-bd .rzList {
  margin: 0;
  padding: 0 60px;
}
.p-box .p-box-bd .rzList li {
  height: 50px;
  margin-bottom: 35px;
  list-style: none;
}
.p-box .p-box-bd .rzList .title {
  float: left;
  height: 50px;
  line-height: 50px;
}
.p-box .p-box-bd .rzList .title p {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}
.p-box .p-box-bd .rzList .title p strong {
  font-size: 18px;
  font-weight: normal;
  color: #757575;
}
.p-box .p-box-bd .rzList .title p span {
  font-size: 12px;
}
.p-box .p-box-bd .rzList .text {
  float: right;
  line-height: 50px;
}
.p-userSetting .m-title {
  margin: 25px 0 0 25px;
  border-bottom: none;
}
.p-userSetting .u-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #f1f3f6;
}
.p-userSetting .u-nav .active a {
  background-color: #fff;
  color: #398dee;
  border-bottom: 3px solid #398dee;
}
.p-userSetting .u-nav li {
  position: relative;
  width: 16.6%;
  float: left;
  text-align: center;
}
.p-userSetting .u-nav li:after {
  content: '';
  position: absolute;
  right: 0;
  top: 18px;
  height: 26px;
  border-right: 1px solid #ecedef;
}
.p-userSetting .u-nav .last:after {
  display: none;
}
.p-userSetting .u-nav a {
  display: inline-block;
  padding: 0 20px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #757575;
  text-decoration: none;
}
.p-userSetting .form-text {
  display: inline-block;
  position: relative;
  top: 4px;
  margin-left: 2em;
  color: #bec3c7;
}
.p-userSetting .line {
  margin-bottom: 30px;
  border-bottom: 1px solid #dce0e2;
}
.p-userSetting .j-tagBox span {
  margin-right: 10px;
}
.p-userSetting .j-liveBox li input,
.p-userSetting .j-teachBox li input {
  margin-right: 10px;
}
.msg-list .time {
  font-size: 14px;
  font-weight: normal;
  color: #b8b8b8;
}
.tlhb .list {
  padding: 0;
  margin: 0;
}
.tlhb .item {
  float: left;
  width: 127px;
  margin-bottom: 40px;
  list-style: none;
}
.hd2 {
  font-size: 18px;
  color: #757575;
}
.p-renzheng .m-title {
  margin: 25px 25px 0 25px;
  border-bottom: none;
}
.p-renzheng .m-title span {
  font-size: 14px;
  color: #757575;
}
.j-prevImg {
  margin: 0 auto;
}
.jcrop-keymgr {
  visibility: hidden;
}
.jcrop-holder {
  margin: 0 auto;
}
.p-userCenter {
  margin-top: 78px;
  margin-bottom: 30px;
  color: #757575;
}
.p-userCenter .userInfo {
  margin-bottom: 30px;
  height: 280px;
  background-color: #f1f3f6;
}
.p-userCenter .userInfo .inner {
  position: relative;
  top: 30px;
  padding: 30px;
  height: 220px;
  border: 1px solid #e5e7e9;
  background-color: #fff;
  color: #999;
}
.p-userCenter .userInfo .media-left {
  padding-right: 30px;
}
.p-userCenter .userInfo .media-body .text {
  margin-bottom: 34px;
}
.p-userCenter .userInfo .media-body ul li {
  float: left;
  text-align: center;
}
.p-userCenter .userInfo .media-body ul li .num {
  width: 138px;
  padding: 0 40px 0;
  border-right: 1px solid #e0e0e0;
  font-size: 24px;
  color: #3c8bee;
}
.p-userCenter .userInfo .media-heading {
  font-size: 18px;
  color: #333;
  vertical-align: middle;
  margin-bottom: 20px;
}
.p-userCenter .userInfo .media-heading span {
  margin-left: 15px;
  font-weight: normal;
  font-size: 12px;
}
.p-userCenter .userInfo .control {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.p-userCenter .userInfo .control a {
  margin-left: 30px;
}
.p-userCenter .introduce {
  height: 190px;
}
.p-userCenter .introduce .text {
  padding: 15px 0;
  margin-bottom: 0;
  height: 126px;
  line-height: 24px;
}
.p-userCenter .case {
  margin-bottom: 30px;
}
.p-userCenter .appraise .pf {
  padding: 10px 0;
  border-bottom: 1px solid #f1f3f6;
}
.p-userCenter .appraise .pf li {
  float: left;
  width: 32%;
  border-right: 1px solid #f1f3f6;
  margin-right: 10px;
}
.p-userCenter .appraise .pf li:last-child {
  margin-right: 0;
  border-right: 0;
}
.p-userCenter .appraise .pf p {
  vertical-align: middle;
}
.p-userCenter .appraise .pf .score {
  font-size: 24px;
  color: #ff4848;
  vertical-align: middle;
}
.p-userCenter .appraise .pf .score2 {
  font-size: 14px;
}
.p-userCenter .appraise .pf .text {
  position: relative;
  top: 8px;
}
.p-userCenter .appraise .media {
  padding: 0 30px 30px;
  margin-top: 30px;
  border-bottom: 1px solid #f1f3f6;
}
.p-userCenter .appraise .media-left {
  padding-right: 20px;
}
.p-userCenter .appraise .media-heading {
  font-size: 14px;
  margin-bottom: 18px;
  color: #333333;
}
.p-userCenter .appraise .media-body p:last-child {
  margin-bottom: 0;
}
.p-userCenter .appraise .media-body .text {
  color: #282828;
}
.p-userCenter .addr {
  height: 190px;
}
.p-userCenter .tag span {
  display: inline-block;
  padding: 4px 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: normal;
}
