.p-wrap {
  width: 100%;
  min-height: 100%;
  width: 100%;
  min-height: 100%;
  height: auto;
  display: -webkit-box;
  display: box;
  display: -moz-box;
  display: -o-box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
}

.iptw{
  width: 370px;
}

// 登录注册表单
.p-formBox {
  position: relative;
  width: 1100px;
  height: 720px;
  margin-bottom: 70px;
  background-color: #fff;

  .p-loginForm {
    width: 300px;
    margin: 150px auto 0;
  }

  .info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 127px;
    border-top: 1px solid #e8e8e8;
    background-color: #f0f0f0;
    .col {
      width: 50%;
      padding: 30px 30px 20px;
      float: left;
      &.br {
        border-right: 1px solid #e8e8e8;
      }
    }
    .media-left {
      padding-right: 30px;
    }
    .media-heading {
      font-size: 18px;
      color: #a2a2a2;
      margin-bottom: 4px;
    }
    p {
      color: #a2a2a2;
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.p-formBox2{
  position: relative;
  width: 1100px;
  height: 634px;
  margin-bottom: 70px;
  background-color: #fff;

  .p-formBox2-hd{
    height: 98px;
    padding: 30px 0 0 30px;
    border-bottom: 1px solid #e8e8e8;

    .img{
      float: left;
      width: 90px;
      height: 38px;
      margin-right: 10px;
    }
    .text{
      float: left;
      margin-top: 18px;
      color: #282828;
      span{
        color: #e8e8e8;
      }
    }
  }

  .p-getPassForm{
    width: 300px;
    margin: 140px auto 0;
  }

  .p-changePassForm{
    width: 300px;
    margin: 110px auto 0;
  }
}

.p-formBox3{
  height: auto;
  min-height: 700px;

  .p-personRegister .form{
    height: 510px;
    margin-bottom: 40px;
  }
}
.p-formBox4{
  height: auto;
  min-height: 600px;
  margin: 85px auto 70px;
}

.p-formTips{
  width: 300px;
  margin: 140px auto 0;

  .media-left{
    font-size: 40px;
    color: #81cb2d;
  }
}

.p-personRegister{
  .col1{
    width: 50%;
    float: left;

    .form{
      border-right: 1px solid #e8e8e8;
    }
  }
  .col2{
    width: 50%;
    float: left;

    .form{
      padding: 50px 150px 0;
    }
  }

  .title{
    height: 50px;
    line-height: 50px;
    margin-bottom: 44px;
    text-align: center;
    font-size: 14px;
    background-color: #edf4f7;
    color: #757575;

    &.active{
      color: #fff;
      background-color: #398dee;
    }
  }

  .form{
    height: 400px;
  }
}

.j-tips{
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}


// 提示文字信息
.tipsBox{
  width: 600px;
  margin: 100px auto 0;
  color: #757575;

  .email{
    padding-right: 20px;
    span{
      font-size: 40px;
      color: #65a6f2;
    }
  }
}


// 企业认证表单
.p-qiyeFormBox{
  padding: 40px;
  color: #757575;

  .title{
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
    h2{
      font-size: 14px;
    }
  }

  .p-qiyeFormBox-bd{
    padding: 30px 0;
  }



  .form-group{
    margin-bottom: 30px;
  }

  .p-errContainer{
    display: none;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #ececec;
    color: #ff0000;

    ul{
      margin: 0;
      padding: 0;
    }
    li{
      float: left;
      width: 50%;
      line-height: 30px;
      list-style: none;
      span{
        color: #ff0000;
      }
    }
  }
  .p-tips{
    background-color: #daebff;
    color: #282828;
    padding: 10px;
    margin-bottom: 30px;
  }
}



// 个人认证
.p-box{
  width:1100px;
  margin: 0 auto;
  border:1px solid #dce0e2;

  .p-box-hd{
    padding: 30px;
    border-bottom:1px solid #e8e8e8;
    h2{
      float: left;
    }
    span{
      float: right;
    }
  }

  .p-box-bd{
    .tips{
      padding: 30px;
      margin-bottom: 30px;
      background-color: #f4f5f9;

      .media-left{
        padding-right: 20px;
      }
      .glyphicon{
        font-size:30px;
      }
    }

    .form-box{
      padding: 20px 0;
    }
  }
}



//  个人设置
.p-userSetting{
  .u-nav{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    .active a{
      background-color: #fff;
      color: #398dee;
    }
    li{
      width: 25%;
      float: left;
      background-color: #edf4f7;
    }
    a{
      display: block;
      padding: 0;
      height: 60px;
      line-height: 60px;
      text-align: center;
      color: #757575;
      text-decoration: none;
    }
  }

  .form-text{
    display: inline-block;
    position: relative;
    top: 4px;
    margin-left: 2em;
    color: #bec3c7;
  }
  .line{
    margin-bottom: 30px;
    border-bottom: 1px solid #dce0e2;
  }
  .j-tagBox span{
    margin-right: 10px;
  }
  .j-liveBox li input, .j-teachBox li input{
    margin-right: 10px;
  }
}