// Usage
a {
  color: @link-color;
  text-decoration: none;

  &:hover {
    color: @link-hover-color;
    text-decoration: underline;
  }
}
html,body{
  font-family: "Microsoft YaHei";
  //background-color: #f7fafc;
}

h2{ font-size: 18px; font-weight: 500;margin: 0;}


//// 按钮
//.btn{
//  padding: 9px 12px;
//}
//.btn-sm{padding: 5px 10px;}
//.btn-xs{padding: 1px 5px;}
//.btn-w{
//  width: 200px;
//}


// 表单
.form-group{
  margin-bottom: 30px;
}
.form-control{
  height: 40px;
}
.form-control-feedback{
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.help-block {
  color: #b8b8b8;
}
label{
  color: #757575;
}
